.feature-section {
  height: 100vh;
  width: 100vw;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Heading and typing effect */
.animated-text {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.point-icon {
  color: #0056b3;
  margin-right: 10px;
  font-size: 2rem;
}

.typewriter-text {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
}

/* Blue word */
.blue-word {
  color: #0056b3;
}

.features-heading {
  font-size: 2.5rem;
  color: #0069d9;
  margin-bottom: 30px;
  text-align: center;
  animation: slideIn 1.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordion {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  height: 60vh;
  flex-wrap: nowrap;
  position: relative;
}

.accordion-item {
  flex: 1;
  max-width: 18%;
  min-width: 15%;
  height: 100%;
  opacity: 0.5;
  transition: width 0.5s ease, opacity 0.5s ease;
  position: relative;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.accordion-item.active {
  flex: 3;
  max-width: 60%;
  opacity: 1;
  z-index: 2;
}

.accordion-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.accordion-item .content {
  position: absolute;
  bottom: 20%;
  left: 20px;
  color: white;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.accordion-item.active .content {
  opacity: 1;
  visibility: visible;
}

/* Learn More button */
.learn-more-btn {
  background-color: #0069d9;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .accordion {
    flex-direction: row;
    height: auto;
    overflow-x: auto;
    padding: 0 10px;
  }

  .accordion-item {
    min-width: 80%;
    height: auto;
    margin-right: 10px;
  }

  .accordion-item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }

  .accordion-item img {
    max-height: 300px;
  }
}
